<Alloy>
    <TableView backgroundColor="#FAFAFA" onClick="onSelect">
      <HeaderView>
        <View height="auto" width="100%" backgroundColor="black">
        	<ImageView image="images/avatar.jpg" width="80%" height="auto" borderRadius="75"></ImageView>
        </View>
      </HeaderView>
      <Require src="menurow" title="Home" icon="home" controller="main"/>
      <Require src="menurow" title="Ticket" icon="search" controller="ticket"/>
      <Require src="menurow" title="FAQ" icon="thumb_up" controller="faq"/>
      <Require src="menurow" title="About" icon="info_outline" controller="about"/>
    </TableView>
</Alloy>